/.ipynb_checkpoints
/back.png
/baixados.png
/close_election.R
/Data 24.1 - grupo 1.pptx
/efeito_idade_legal_acidentes_embriaguez.png
/efeito_idade_legal_consumo_alcool.png
/efeito_idade_legal_consumo_alcool_atualizado.png
/efeito_idade_legal_consumo_alcool_sem_chave_sem_beta.png
/Fighting-violence-against-women.pdf
/gráfico_exemploRDD.ipynb
/rdd-exemplo
/rdd-exemplocombeta
/Women Services.do
/Women's police stations and intimate partner violence_ Evidence from Brazil[1].pdf
/womenservices.dta
/Docs_TAB_SINAN
/ignorar_rs